BOT_TOKEN=832483284382:2QADSSAJFDKSadkassjakf

POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db
POSTGRES_URL="postgresql+asyncpg://user:password@127.0.0.1/db"

PGADMIN_DEFAULT_EMAIL=example@gmail.com
PGADMIN_DEFAULT_PASSWORD=password